<div class="row row-cols-1 row-cols-md-3 g-2" style="box-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;">
    {% for product in cards %}
        <div class="col" style="color: white; display: flex; justify-content: space-between; box-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;">
            {% include 'products/snippets/product.html' %}
        </div>
    {% endfor %}
</div> 