        <h3 class="mt-2" style="text-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod; text-align: center; font-size: 40px;">Mas productos</h3>
        <div class="card">
            <ul class="list-group" style="box-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;">
                    {% for product in list %}
                        <a class="list-group-item list-group-item-action" href="{% url 'products:product' product.slug %}">
                            <span class="fw-bolder">{{ product.title }}</span>
                            <span class="fw-light">{{ product.description }}</span>
                        </a> 
                    {% endfor %}
            </ul>
        </div>