{% load static %}
<div class="card" style="width: 100%; display: flex; justify-content: center;">
    <div class="card-body" style="color: black;">
        <h5 class="card-title" style="text-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;">{{ product.title }}</h5>
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="Imagen del Producto" class="card-img-top" height="300" style="border: 2px solid black; margin-top: 10px;">
        {% endif %}
        <p class="card-text" style="margin-top: 10px;">{{ product.description }}</p>
        <a href="{% url 'products:product' product.slug %}" class="btn btn-primary" style="color: yellow; background-color: black; display: flex; justify-content: center;">Ver</a>
        {% if user.is_superuser %}
        <a href="{% url 'products:edit' product.slug %}" class="btn btn-secondary">Editar</a>
        <a href="{% url 'products:delete' product.slug %}" class="btn btn-danger">Eliminar</a>
        {% endif %}                    
    </div>
</div>