{% extends 'base.html' %}
{% block content %}
<div>
    <img src="/static/images/sobreNosotros.png" alt="Sobre Nosotros" style= "border-radius: 10px; width: 90%;">
</div>
<p style="margin: 40px auto; text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 15px goldenrod;">
    Somos una empresa global de venta al por menor de artículos en línea.

    CyberShop fue creado por un grupo de personas de distintas generaciones que comparten una misma pasión
    por el anime de DBZ.

    Con el tiempo, la tecnología ha cambiado y también la forma en que hacemos negocios y es por eso que decidimos dar
    un paso hacia la globalización. Ofrecemos una amplia gama de artículos de DBZ, no importa en el país que te
    encuentres, nosotros te haremos llegar el pedido hasta tu país e incluso hasta la puerta de tu casa.

    Nuestro objetivo es proporcionar a nuestros clientes productos de alta calidad a precios competitivos directos de
    fábrica.

    Entendemos las necesidades de nuestros clientes, y por lo tanto, ofrecemos diferentes estilos de artículos, junto
    con un servicio profesional dedicado que satisfaga eficientemente las necesidades de todos nuestros clientes en todo
    el mundo. Garantizamos compartir su pasión por DBZ y el compromiso total con la adquisición de artículos a los
    precios más competitivos.

    Nuestro equipo profesional del Centro de Servicio al Cliente estará listo para ayudarle.

    Su satisfacción es y siempre será nuestra máxima prioridad.
</p>
{% endblock %}