{% load static %}
<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberShop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="d-flex flex-column h-100" style="background-color: rgba(140, 0, 0, 0.900); color: white;">
    {% include 'header.html' %}
    {% include 'navbar.html' %}
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row mt-5 mb-5">
                {% include 'messages.html' %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    {% include 'footer.html' %}    
</body>
<script src="https://kit.fontawesome.com/f8d866bab6.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>