<footer class="bg-darkorange text-center text-white mt-auto p-3" style="width: 100%; background-color: darkorange;">
  <div class="container" style="color: rgb(255, 255, 255); font-weight: bolder; text-shadow: 0px 0px 5px rgb(252, 0, 0), 0px 0px 15px rgb(255, 0, 0);">
    CyberShop © 2021
    <a class="text-white" href=""></a>
  </div>
</footer>