{% extends 'base.html' %}
{% block content %}
<div class="col">
    <h1 style="text-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod; text-align: center; margin-bottom: 40px;">{{ title }}</h1>
    <div class="d-flex justify-content-center">
    {% include 'products/snippets/cards.html' %}
    </div>
    {% include 'products/snippets/list.html' %}
</div>
{% endblock %}
