{% url 'index' as index %}
{% url 'about' as about %}
{% url 'products:new' as new %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="box-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;">
  <div class="container-fluid" style="box-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod; background-color: darkorange;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == index %}active{% endif %}" href="{{ index }}" style="text-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;">Home</a>
        </li>
        <li class="nav-item dropdown" style="text-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(207, 169, 0);">
            <li><a class="dropdown-item" href="{% url 'products:search' %}?q=Goku"><img src="/static/images/goku.jpg" alt="" style="width: 40px; height: 40px; border-radius: 10px; border: 1px solid black;"> Goku</a></li>
            <li><a class="dropdown-item" href="{% url 'products:search' %}?q=Buu"><img src="/static/images/boo.jpg" alt="" style="width: 40px; height: 40px; border-radius: 10px; border: 1px solid black;"> Buu</a></li>
            <li><a class="dropdown-item" href="{% url 'products:search' %}?q=Gohan"><img src="/static/images/gohan.jpg" alt="" style="width: 40px; height: 40px; border-radius: 10px; border: 1px solid black;"> Gohan</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == about %}active{% endif %}" href="{{ about }}" style="text-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;">Conocenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:cybershop@correo.com" style="text-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;">Contacto</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == new %}active{% endif %}" href="{{ new }}">Nuevo Producto</a>
        </li>
        {% endif %}                        
      </ul>
      <form class="d-flex" action="{% url 'products:search' %}">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="q" value="{{ query }}">
        <button class="btn btn-outline-success" type="submit" style="text-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod; box-shadow: 0px 0px 5px gold, 0px 0px 15px goldenrod;color: white; border: black;">Buscar</button>
      </form>
    </div>
  </div>
</nav>